.dashboard {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.dashboard-actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 15px;
    margin: 5px;

    align-content: flex-start;
    overflow: scroll;
}

.dashboard-actions-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 15px;
    flex: 1;
}

.action-create {
    color: var(--yellow);
    font-size: 45px;
    background: none;
    border: none;
}

.action-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action-title {
    color: var(--yellow);
    font-size: 20px;
    background: none;
    border: none;

    text-decoration: underline;
    font: 900;
    align-self: center;
}

.action-hide {
    border: none;
    background: none;
    font-size: 20px;
}

button:hover {
    text-shadow: 1px 1px 5px #00fa9a, 1px -1px 15px #ffdb58, -1px 1px 5px #00fa9a, -1px -1px 15px #ffdb58;
}

@media (max-width: 800px) {
    .dashboard-actions {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .dashboard-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
        gap: 15px;
        margin: 5px 0px;
        align-items: stretch;
        overflow: scroll;
    }
}
