.create-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;

  border: 1px red solid;
}

.create-list-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;

  border: 1px blue solid;
}

.create-list-editor {
  display: flex;
  flex-direction: column;
  
  flex: 1 1 0px;

  border: 1px blue solid;
}

.create-list-editor-content {
  display: flex;
  flex-direction: column;
  
  flex: 1 1 0px;
  margin: 30px;

  border: 1px blue solid;
}

.create-list-title-content {
  display: flex;
  flex-direction: column;
  height: 45px;
  margin-bottom: 30px;

  border: 2px red solid;
}

.create-list-title {
  height: 100%;
  padding: 10px;
  border: 2px #212121 solid;
  border-radius: 15px;
  color: black;
  font-weight: 700;
  font-size: 18px;
}

.create-list-items-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;

  border: 2px red solid;
}

.create-list-items {
  height: 15px;
  padding: 10px;
  border: 2px #212121 solid;
  border-radius: 15px;
  color: black;
  font-weight: 700;
  font-size: 18px;
}

.create-list-items:focus,
.create-list-title:focus {
  outline: none !important;
  border: 2px #39ff14 solid;
}

.create-list-preview {
  display: flex;
  flex-direction: column;
  
  flex: 1 1 0px;

  border: 1px blue solid;
}

.create-list-preview-content {
  display: flex;
  flex-direction: column;
  
  flex: 1 1 0px;
  margin: 30px;

  border: 1px blue solid;
}

.create-list-preview-title-content {
  display: flex;
  flex-direction: column;
  height: 45px;
  margin-bottom: 30px;

  border: 2px red solid;
}

.create-list-preview-title {
  height: 100%;
  padding: 10px;
  border: 2px #212121 solid;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  font-size: 18px;
}

.create-list-preview-items-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;

  border: 2px red solid;
}

.create-list-preview-items {
  height: 15px;
  padding: 10px;
  border: 2px #212121 solid;
  border-radius: 15px;
  color: white;
  font-weight: 700;
  font-size: 18px;
}
