.single-list {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 10px;
    gap: 5px;
    max-width: 500px;

    border: 3px groove #98FB98;

    min-width: 350px
}

.single-list > .single-list-control-panel {
    display: none;
}

.single-list:hover .single-list-control-panel {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 0px 15px;
    border-radius: 30px;
    

    justify-content: flex-end;
    }


.single-list-control-buttons {
    color: white;
    color: var(--black);
    font-weight: 200;
}

.single-list-control-buttons:hover {
    text-shadow:  1px 1px 5px #00fa9a, 1px -1px 15px #ffdb58, -1px 1px 5px #00fa9a,
    -1px -1px 15px #ffdb58;
} 

.single-list-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
   

    border: 2px dashed #E37383;
}

.single-list-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 900;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}

.single-list-title >input {
    background-color: #212121;
    color: var(--white);
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    outline: none !important;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }

.single-list-tasks {
    display: flex;
    flex-direction: column;
    gap: 3px;
  
}


.single-list-task {
    display: flex;
    flex-direction: row;
    gap: 5px
}


.single-list-task >input {
    accent-color: #98FB98;
}

.create-task-input {
    background-color: #212121;
    color: var(--white);
    text-align: flex-start;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    width: 100%;
    outline: none !important;
    border: none;
  }