.header {
  display: flex;
  flex-direction: column;
}

.header-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
  padding: 15px 10px;
}

.header-main-text {
  color: var(--white);
  font-weight: 900;
  font-size: calc((15vh + 15vw - 2.5rem) / 6);
}

.header-sub-text {
  color: var(--pink);
  font-weight: 700;
  font-size: calc((15vh + 15vw - 2.5rem) / 12);
  padding: 0px 40px 5px 40px;
  border-bottom: 2px dashed var(--green);
}
