.header {
  display: flex;
  flex-direction: column;
  height: 15%;

}

.header-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  align-items: center;
}

.header-main-text {
  color: orange;
  font-weight: 700;
  font-size: min(5em,50px);
}

.header-sub-text {
  color: yellow;
  font-weight: 400;
  font-size: min(1.5em,20px);
  font-style: italic;
}
