.create-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;

  /* border: 5px red solid; */
}


.create-list-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;

  border: 1px blue solid;
}

.create-single-list {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: auto;
  padding: 10px;
  max-width: 800px;
  border: 3px groove #98FB98;
  align-self: stretch;
  flex: 1;
}

.create-single-list-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  color: white;
  flex: 1;

  border: 2px dashed #E37383;
}

.create-single-list-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.create-single-list-title >input {
  background-color: #212121;
  color: white;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  outline: none !important;
  border: none;
}

.create-single-list-tasks {
  display: flex;
  flex-direction: column;
  gap: 3px;

}

.create-single-list-task {
  display: flex;
  flex-direction: row;
  gap: 5px
}

.create-single-list-task-input {
  background-color: #212121;
  color: white;
  text-align: flex-start;
  font-size: 15px;
  width: 100%;
  outline: none !important;
  border: none;
}

.create-list-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 10%;

  border: 1px white solid;
}

.create-list-footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 15px;

  border: 5px blue solid;
}

.create-list-save-button {
  background-color: white;
  color: #212121;
  width: 100px;
  height: 75%;
  border-radius: 10px;
}

.create-list-items:focus,
.create-list-title:focus {
  outline: none !important;
  border: 2px #39ff14 solid;
}



